<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <img src="images/logo.png" alt="Company Logo" />
      <nav>
        <h1>My website</h1>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="records.html">Page 2</a></li>
          <li><a href="albums.html">Page 3</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Albums</h1>
      <h2>Description page 1</h2>
    </main>
  </body>
  <footer>
    <p>2025 Your Company Name | flip you Kelvin</p>
    <p><a href="Me">Contact ME</a></p>
  </footer>
</html>
