<!doctype html>
<html lang="en">
  <head>
    <title>Top 10</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/website.css" />
  </head>

  <body>
    <section id="header">
      <a href="#"
        ><img src="../images/smallestlogo.png" class="logo" alt=""
      /></a>
      <div>
        <ul id="navbar">
          <li><a class="active" href="Home.html">Home</a></li>
          <li><a href="List.html">List</a></li>
          <li><a href="Credits.html">Credits</a></li>
        </ul>
      </div>
    </section>
    <h1>thanks to me and this guy (https://www.youtube.com/@Tech2etc)</h1>
  </body>
</html>
