<!doctype html>
<html lang="en">
  <head>
    <title>Top 10</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/website.css" />
  </head>

  <body>
    <section id="header">
      <a href="#"
        ><img src="../images/smallestlogo.png" class="logo" alt=""
      /></a>
      <div>
        <ul id="navbar">
          <li><a class="active" href="Home.html">Home</a></li>
          <li><a href="List.html">List</a></li>
          <li><a href="Credits.html">Credits</a></li>
        </ul>
      </div>
    </section>
    <section id="hero">
      <button><a href="List.html">See Top 10 Animated Films</a></button>
    </section>
    <section id="banner">
      <h4>Come see them</h4>
      <h2>See the <span>Top 10</span> Animated Movies</h2>
      <button class="bottom"><a href="List.html">Go See</a></button>
    </section>
    <footer class="section-p1">
      <div class="col">
        <img src="../images/smallestlogo.png" alt="" />
      </div>
    </footer>
  </body>
</html>
