<!doctype html>
<html lang="en">
  <head>
    <title>Top 10</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/website.css" />
  </head>

  <body>
    <section id="header">
      <a href="#"
        ><img src="../images/smallestlogo.png" class="logo" alt=""
      /></a>
      <div>
        <ul id="navbar">
          <li><a class="active" href="Home.html">Home</a></li>
          <li><a href="List.html">List</a></li>
          <li><a href="Credits.html">Credits</a></li>
        </ul>
    </section>
    <section id="hero2">
    </section>
    <section id="banner">
      <h4>Without further ado...</h4>
      <h2>here are the <span>TOP 10</span> Animated Movies!</h2>
    </section>
    <section id="product1">
        <div class="pro-container">
            <div class="pro">
                <a href="sidesites/toystory.html"><img src="../images/toystoryposter.png" alt=""></a>
                <div class="des">
                    <span>John Lasseter</span>
                    <h5>Toy Story</h5>
                    <h4>#1</h4>
                </div>
            </div>
            <div class="pro">
                <a href="sidesites/spiritedaway.html"> <img src="../images/SpiritedAway.png" alt=""></a>
                <div class="des">
                    <span>Hayao Miyazaki</span>
                    <h5>Spirited Away</h5>
                    <h4>#2</h4>
                </div>
            </div>
            <div class="pro">
                <a href="sidesites/lionking.html"><img src="../images/lionkingposter.png" alt=""></a>
                <div class="des">
                    <span>Rob Minkoff, Roger Allers</span>
                    <h5>The Lion King</h5>
                    <h4>#3</h4>
                </div>
            </div>
            <div class="pro">
                <a href="sidesites/walle.html"><img src="../images/Wall-e poster.png" alt=""></a>
                <div class="des">
                    <span>Andrew Stanton</span>
                    <h5>Wall-E</h5>
                    <h4>#4</h4>
                </div>
            </div>
            <div class="pro">
                <a href="sidesites/coraline.html"><img src="../images/coralineposter.png" alt=""></a>
                <div class="des">
                    <span>Henry Selick</span>
                    <h5>Coraline</h5>
                    <h4>#5</h4>
                </div>
            </div>
            <div class="pro">
                <a href="sidesites/shrek.html"><img src="../images/shrekposter.png" alt=""></a>
                <div class="des">
                    <span>Rob Minkoff, Roger Allers</span>
                    <h5>Shrek</h5>
                    <h4>#6</h4>
                </div>
            </div>
            <div class="pro">
                <a href="sidesites/man.html"><img src="../images/spidermanposter.png" alt=""></a>
                <div class="des">
                    <span>Joaquim Dos Santos, Kemp Powers, Justin K. Thompson</span>
                    <h5>Spider-Man: Into the Spider-Verse</h5>
                    <h4>#7</h4>
                </div>
            </div>
            <div class="pro">
                <a href="sidesites/rat.html"><img src="../images/Ratposter.png" alt=""></a>
                <div class="des">
                    <span>Brad Bird</span>
                    <h5>Ratatouille</h5>
                    <h4>#8</h4>
                </div>
            </div>
            <div class="pro">
                <a href="sidesites/fox.html"><img src="../images/foxposter.png" alt=""></a>
                <div class="des">
                    <span>Wes Anderson</span>
                    <h5>Fantastic Mr.Fox</h5>
                    <h4>#9</h4>
                </div>
            </div>
            <div class="pro">
                <a href="sidesites/nemo.html"><img src="../images/nemoposter.png" alt=""></a>
                <div class="des">
                    <span>Andrew Stanton</span>
                    <h5>Finding Nemo</h5>
                    <h4>#10</h4>
                </div>
            </div>
        </div>
    </section>
    <footer class="section-p1">
      <div class="col">
        <img src="../images/smallestlogo.png" alt="" />
      </div>
    </footer>
  </body>
</html>
