<!doctype html>
<html lang="en">
  <head>
    <title>Top 10</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/website.css" />
  </head>

  <body>
    <section id="header">
      <a href="#"
        ><img src="../../images/smallestlogo.png" class="logo" alt=""
      /></a>
      <div>
        <ul id="navbar">
          <li><a class="active" href="../Home.html">Home</a></li>
          <li><a href="../List.html">List</a></li>
          <li><a href="../Credits.html">Credits</a></li>
        </ul>
    </section>
    <section id="hero2">
    </section>
    <section id="banner">
      <h4>Rob Minkoff, Roger Allers</h4>
      <h2><span>Shrek</span></h2>
    </section>
    <section id="product2">
        <div class="pro-container">
            <div class="pro">
                <img src="../../images/shrekposter.png" alt="">
                <div class="des">
                    <span>Rob Minkoff, Roger Allers</span>
                    <h5>Shrek</h5>
                    <h4>#6</h4>
                </div>
            </div>
    </section>
    <footer class="section-p1">
      <div class="col">
        <img src="../../images/smallestlogo.png" alt="" />
      </div>
    </footer>
  </body>
</html>
